*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('./img/IMG_2276.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .navigation{
    display: flex;
    position: absolute;
    top: 15px;
}
.header .navigation .logo{
    margin-right: 300px;
}
.header .navigation .contacts{
    margin-left: 300px;
}
.header .navigation a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.header .head-content{
    text-align: center;
}
button{
    margin-top: 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    padding: 8px 15px;
}
button:hover{
   border: coral;
  
}
.who{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.who-propose{
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 50px;
}
.who-propose h4{
    margin-bottom: 10px;
    color: orange;
}
.who-propose p{
    margin-top: 30px;
}
.who-propose button{
    color: black;
    margin-top: 45px;
    border: 1px solid black;
    border-style: outset;
   
    
}
.who-img{
    width: 49%;
    background: url('./img/1.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    height: 400px;
    margin-top: 40px;
}
.special{
    height: 500px;
    width: 100%;
}
.special-contents{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.special-cont1{
    width: 23%;
    background: none;
    height: 400px;
}
.special-cont2{
    width: 25%;
    background: none;
    height: 400px;
}
.special-cont3{
    width: 25%;
    background: none;
    height: 400px;
}
.special-cont4{
    width: 25%;
    background: none;
    height: 400px;
}
.special-contents h2{
    margin-left: 20px;
    margin-top: 30px;
}
.special-contents p{
    margin-left: 20px;
    margin-top: 30px;
}
.fa-cog{
    font-size: 45px;
    margin-left: 20px;
}
.fa-globe{
    font-size: 45px;
    margin-left: 20px;
}
.fa-users{
    font-size: 45px;
    margin-left: 20px;
}
.fa-code{
    font-size: 45px;
    margin-left: 20px;
}

/* Media screen code */
@media screen and (max-width:600px){
    .header .navigation{
        flex-direction: column;
    }
    .header .navigation a{
        display: block;
    }
    .header .navigation .contacts{
        display: none;
    }
    .header .navigation{
        margin-left: -50px;
    }
    .header .head-content{
        margin-top: 100px;
    }
    .header .navigation .logo{
        margin-bottom: 30px;
    }
    .header{
        height: 800px;
    }
    .who{
        display: block;
        flex-direction: column;
    }
    .who-propose{
        margin-left: 50px;
        flex-direction: column;
    }
    .who-img{
        width: 100%;
    }
    .special-contents{
        display: block;
        margin-top: 800px;
        flex-direction: column;
        width: 100%;
        text-align: justify;
        height: 1200px;
        justify-content: center;
        align-items: center;

    }
    .special-cont1{
        width: 100%;
        height: 250px;
    }
    .special-cont2{
        width: 100%;
        height: 250px;
    }
    .special-cont3{
        width: 100%;
        height: 250px;
    }
    .special-cont4{
        width: 100%;
        height: 250px;
    }
}
